.list {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &_title {
    font-size: 30px;
    font-weight: 700;
  }

  &_wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    gap: 5px;
    padding: 10px 0;
    width: 100%;

    overflow-y: auto;

    border-top: solid 2px var(--white_1);
    border-bottom: solid 2px var(--white_1);
  }

  &_item {
    width: 100%;
    height: 100px;
    background-color: var(--black_4);
  }
}
